/**************** FONTS ****************/
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");

/**************** BEGIN CSS Reset ****************/
*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
  all: unset;
  display: revert;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
ol,
ul {
  list-style: none;
}
img {
  max-width: 100%;
}
table {
  border-collapse: collapse;
}
textarea {
  white-space: revert;
}
/**************** END CSS Reset ****************/

/**************** BEGIN Mobile Styles ****************/

:root {
  /* set font-size to base-10 from base-16 */
  font-size: 62.5%;

  /* Variables */
  --max-width__mobile: 640px;
  --max-width__mobile--content: 315px;
  --max-width__desktop--content: 1180px;

  --font-family__body: "Rubik", sans-serif;
  --font-weight__regular: 400;
  --font-weight__medium: 500;
  --font-size__body-copy: 1.8rem;

  --color__primary-1: hsl(231, 69%, 60%);
  --color__primary-2: hsl(0, 94%, 66%);
  --color__primary-3: rgb(255, 255, 255);

  --color__neutral-1: hsl(229, 8%, 60%);
  --color__neutral-2: hsl(229, 31%, 21%);
  --color__neutral-3: hsl(229, 8%, 85%);
  --color__background: rgb(255, 255, 255);
  --color__mobile-nav__background: hsla(229, 31%, 21%, 0.93);
  --color__mobile-nav__primary: #fff;
  --color__box-shadow--primary-1: hsla(231, 69%, 60%, 0.2);
}

.display--none {
  display: none;
}

a,
button {
  cursor: pointer;
}

body {
  max-width: 100vw;
  min-height: 100vh;
  font-family: var(--font-family__body);
  font-size: var(--font-size__body-copy);
  font-weight: var(--font-weight__regular);
  color: var(--color__neutral-1);
  background-color: var(--color__background);
  position: relative;
}

header {
  display: grid;
  grid-template-columns: 150px auto;
  max-width: min(100vw, var(--max-width__mobile--content));
  margin: 35px auto;
}

.btn {
  display: block;
  font-size: 1.4rem;
  color: var(--color__primary-3);
  background-color: var(--color__primary-1);
  border: 2px solid var(--color__primary-1);
  border-radius: 0.3em;
  padding: 1em 2em;
  box-shadow: 5px 5px 10px var(--color__box-shadow--primary-1);
  transition: 300ms;
}
.btn:hover {
  color: var(--color__primary-2);
  background-color: var(--color__primary-3);
  border: 2px solid var(--color__primary-2);
  transition: 300ms;
}

.header-logo {
  z-index: 3;
}
.header-nav__icon {
  z-index: 3;
  justify-self: right;
  align-self: center;
  cursor: pointer;
}

#header-nav {
  z-index: 2;
  position: absolute;
  top: -35px;
  left: 0;
  right: 0;
  bottom: 0;
  min-height: 100vh;
  padding-top: 105px;
  background-color: var(--color__mobile-nav__background);
}
.header-nav__website {
  width: min(315px, 96vw);
  margin-left: auto;
  margin-right: auto;
  font-size: 1.9rem;
  font-weight: var(--font-size__body-copy);
  color: var(--color__mobile-nav__primary);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.3ch;
}
.header-nav__website li {
  display: block;
  min-width: 100%;
  margin: 0;
  padding: 1em 0;
  border-top: 1px solid hsla(0, 0%, 100%, 0.3);
}
.header-nav__website a:hover {
  color: var(--color__primary-2);
  transition: 300ms;
}
.header-nav__website li:last-of-type a {
  display: block;
  min-width: 100%;
  min-height: 100%;
  margin-top: 0.5em;
  padding: 0.5em;
  border: 2px solid var(--color__mobile-nav__primary);
  border-radius: 0.25em;
}
.header-nav__website li:last-of-type a:hover {
  color: var(--color__mobile-nav__background);
  background-color: var(--color__mobile-nav__primary);
  border: 2px solid var(--color__mobile-nav__background);
  border-radius: 0.25em;
}
.header-nav__social {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.header-nav__social a svg {
  margin: 5em 1.1em 2em 1.1em;
}

.downloads-section {
  max-width: min(var(--max-width__desktop--content), 80vw);
  text-align: center;
  margin: 0 auto;
}
.downloads-section__header {
  grid-area: downloads-section__header;
  font-size: 2.4rem;
  font-weight: var(--font-weight__medium);
  color: var(--color__neutral-2);
}
.downloads-section__details {
  grid-area: downloads-section__details;
  font-size: 1.5rem;
  font-weight: var(--font-weight-regular);
  line-height: 1.6;
  margin: 1em auto;
  padding-bottom: 2em;
  max-width: 50ch;
}
#download-card__chrome {
  grid-area: download-card__chrome;
}
#download-card__firefox {
  grid-area: download-card__firefox;
}
#download-card__opera {
  grid-area: download-card__opera;
}

.download-card {
  max-width: min(280px, 90vw);
  margin: 1em auto;
  border-radius: 0.8em;
  box-shadow: 5px 5px 20px var(--color__box-shadow--primary-1);
  padding: 1em 0;
}
.download-card img {
  margin: 1em;
}
.download-card h3 {
  font-size: 2rem;
  font-weight: var(--font-weight__medium);
  color: var(--color__neutral-2);
  margin: 0.5em;
}
.download-card p {
  font-size: 1.5rem;
  font-weight: var(--font-weight-regular);
  color: var(--color__neutral-1);
}
.download-card p::after {
  display: block;
  width: 100%;
  height: 30px;
  content: "";
  background-image: url(../images/bg-dots.svg);
  background-repeat: repeat-x;
  background-position: bottom;
}
.download-card a {
  margin: 2em 2em 0.8em 2em;
}
.download-card .btn:hover {
  color: var(--color__primary-1);
  background-color: var(--color__primary-3);
  border: 2px solid var(--color__primary-1);
  transition: 300ms;
}

.faqs-section {
  margin: 5em auto 5em auto;
  text-align: center;
  max-width: min(var(--max-width__desktop--content), 80vw);
}

.faqs-section__header {
  font-size: 2.4rem;
  font-weight: var(--font-weight__medium);
  color: var(--color__neutral-2);
  max-width: 16ch;
  margin: 0 auto;
}
.faqs-section__details {
  font-size: 1.5rem;
  color: var(--color__neutral-1);
  line-height: 1.7;
  margin: 1.5em 0 3.5em 0;
}

.faqs {
  margin: 0 auto;
  max-width: min(540px, 90vw);
  font-weight: var(--font-weight-regular);
  line-height: 1.5;
  text-align: left;
}
.faq {
  padding: 0.5em 0;
  border-bottom: 1px solid var(--color__neutral-3);
  margin: 1em auto;
}
.faq-question {
  display: grid;
  grid-template-columns: auto 15px;
  gap: 0 0.5em;
  margin-top: 0.1em;
  margin-bottom: 0.5em;
  font-size: 1.5rem;
  color: var(--color__neutral-2);
}
.faq-question:hover {
  cursor: pointer;
  color: var(--color__primary-2);
}
.faq-question p {
  justify-self: start;
  align-self: start;
  width: 100%;
  color: var(--color-secondary-text);
}
.faq-active p {
  font-weight: var(--font-weight-bold);
}
.faq-question svg {
  justify-self: end;
  align-self: start;
  transition: 0.4s;
  stroke: var(--color__primary-1);
}
.faq-active svg {
  transform: rotate(180deg);
  stroke: var(--color__primary-2);
}
.faq-answer {
  display: none;
  max-width: 100%;
  max-height: 0;
  margin-right: 15px;
  transition: max-height 0.2s ease-out;
}
.faq-answer p {
  font-size: 1.5rem;
  line-height: 2;
  color: var(--color__neutral-1);
  padding: 1.5em 0;
}
.faq-show-answer {
  display: contents;
}

.faqs-section .btn {
  width: max-content;
  margin: 4em auto 8em auto;
}

.subscribe {
  background-color: var(--color__primary-1);
  padding-top: 4em;
  padding-bottom: 4em;
  color: var(--color__primary-3);
  text-align: center;
}
.subscribe h2 {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  margin-bottom: 1.5em;
}
.subscribe p {
  font-size: 2.4rem;
  max-width: 22ch;
  margin: 0 auto 1.5em auto;
}
.subscribe input {
  width: 100%;
  height: 3em;
  font-size: 1.6rem;
  background-color: var(--color__primary-3);
  border: 2px solid var(--color__primary-3);
  border-radius: 0.3em;
  padding-left: 1em;
  text-align: left;
}
.subscribe button {
  width: 100%;
  height: 3em;
  margin-top: 1em;
  font-size: 1.6rem;
  background-color: var(--color__primary-2);
  border: 2px solid var(--color__primary-2);
  border-radius: 0.3em;
}
.subscribe button:hover {
  color: var(--color__primary-2);
  background-color: var(--color__primary-3);
  border: 2px solid var(--color__primary-2);
  border-radius: 0.3em;
  transition: 300ms;
}
#subscribe-form {
  display: grid;
  grid-template-columns: 1fr;
  max-width: min(85vw, 325px);
  margin: 0 auto;
}
#email-input__container {
  display: grid;
  grid-template-columns: 1fr;
  min-width: max-content;
  background-color: var(--color__primary-3);
  border: 2px solid var(--color__primary-3);
  border-radius: 0.3em;
  position: relative;
}
#email-input__container em {
  padding: 0.5em 1em;
}
#email {
  border: 2px solid white;
  border-radius: 0.3em;
  font-size: 1.4rem;
  padding: 1.5em;
}
#email::placeholder {
  color: silver;
}
#error-icon__email {
  display: none;
  position: absolute;
  top: 0.75em;
  right: 1em;
}
#error-message__email {
  display: none;
  font-size: 1.1rem;
  text-align: left;
  font-style: italic;
  color: var(--color__primary-3);
}

/* email error styles */
.email-input__container--error {
  background-color: hsl(0, 94%, 66%) !important;
  border: 2px solid hsl(0, 94%, 66%) !important;
}
.error-icon__email {
  display: block !important;
}
.error-message__email {
  display: block !important;
}

footer {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  background-color: var(--color__neutral-2);
  padding-top: 40px;
  padding-bottom: 40px;
}
.footer-nav__website li {
  color: var(--color__primary-3);
  font-size: 1.6rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
  margin: 2em auto;
}
.footer-nav__social svg {
  fill: var(--color__primary-3);
}
.footer-nav__website li a:hover {
  color: var(--color__primary-2);
  transition: 300ms;
}
.footer-nav__social {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: max-content;
  margin: 0 auto;
  gap: 2em;
  place-items: center;
}
.footer-nav__social svg:hover {
  fill: var(--color__primary-2);
}

/**************** END   Mobile  Styles ****************/

/**************** BEGIN Desktop Styles ****************/
@media screen and (min-width: 1300px) {
  header {
    max-width: var(--max-width__desktop--content);
    min-width: min(var(--max-width__desktop--content), 100vw);
  }
  #header-nav {
    margin: 0 70px;
  }
}
@media screen and (min-width: 800px) {
  header {
    max-width: min(var(--max-width__desktop--content), 90vw);
    margin: 45px auto;
    align-items: center;
  }
  .header-logo {
    margin-left: 1em;
  }
  .header-nav__icon {
    display: none;
  }
  #header-nav {
    width: unset;
    min-width: unset;
    max-width: unset;
    display: inline-block;
    position: unset;
    min-height: unset;
    padding-top: unset;
    background-color: unset;
  }
  .header-nav__website {
    width: max-content;
    margin: 0 0 0 auto;
    display: grid;
    grid-template-columns: repeat(3, auto) 1fr;
    align-items: center;
    font-size: 1.3rem;
    color: var(--color__neutral-2);
    letter-spacing: 0.2ch;
  }
  .header-nav__website li {
    margin: 0;
    padding: 0 1.5em;
    text-align: left;
  }
  .header-nav__website li:last-of-type {
    margin: 0;
    padding: 0 0 0 2em;
  }
  .header-nav__website li:last-of-type a {
    margin: 0;
    padding: 0.8em 2.5em;
    color: var(--color__primary-3);
    background-color: var(--color__primary-2);
    border: 2px solid var(--color__primary-2);
    border-radius: 0.3em;
    box-shadow: 5px 5px 10px var(--color__box-shadow--primary-1);
  }
  .header-nav__website li:last-of-type a:hover {
    color: var(--color__primary-2);
    background-color: var(--color__primary-3);
    border: 2px solid var(--color__primary-2);
  }
  .header-nav__social {
    display: none;
  }
  /* DOWNLOADS */
  .downloads-section {
    display: grid;
    grid-template-columns: repeat(3, min(auto, max-content));
    grid-template-areas:
      "downloads-section__header downloads-section__header downloads-section__header"
      "downloads-section__details downloads-section__details downloads-section__details"
      "download-card__chrome download-card__firefox download-card__opera";
    gap: 1.8em;
    width: max-content;
    margin-bottom: 10em;
  }
  .downloads-section__header {
    font-size: 3.2rem;
    margin: 0 auto;
  }
  .downloads-section__details {
    font-size: 1.8rem;
    margin: 0 auto;
  }
  .download-card {
    justify-self: center;
    margin: 0;
    height: max-content;
  }
  #download-card__firefox {
    margin-top: 2em;
  }
  #download-card__opera {
    margin-top: 4em;
  }

  /* FAQs */
  .faqs-section {
    margin: 5em auto 8.5em auto;
    text-align: center;
    max-width: min(540px, 80vw);
  }

  .faqs-section__header {
    font-size: 3.2rem;
    max-width: 100%;
  }
  .faqs-section__details {
    font-size: 1.8rem;
  }
  .faq-question {
    font-size: 1.8rem;
  }
  .faq-answer p {
    font-size: 1.7rem;
    line-height: 2.1;
    color: var(--color__neutral-1);
    padding: 1.5em 0;
  }

  /* SUBSCRIBE */
  .subscribe h2 {
    margin-bottom: 3.5em;
  }
  .subscribe p {
    font-size: 3.6rem;
    margin: 0 auto 1.1em auto;
  }
  .subscribe button {
    margin: 2px;
    font-size: 1.6rem;
  }
  #subscribe-form {
    grid-template-columns: auto auto;
    gap: 1em;
    max-width: 450px;
  }

  footer {
    display: block;
    width: 100%;
    padding: 2em 0;
  }
  .footer-container {
    max-width: min(var(--max-width__desktop--content), 90vw);
    margin: 0 auto;
    display: grid;
    grid-template-columns: 220px 1fr min-content;
    align-items: center;
  }
  .footer-nav__website {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5em;
    margin: 0 auto 0 0;
  }
  .footer-nav__website li {
    font-size: 1.4rem;
    margin: 0;
  }
}
/**************** END Desktop Styles ****************/
