/**************** FONTS ****************/
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");

/**************** BEGIN CSS Reset ****************/
*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
  all: unset;
  display: revert;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
ol,
ul {
  list-style: none;
}
img {
  max-width: 100%;
}
table {
  border-collapse: collapse;
}
textarea {
  white-space: revert;
}
/**************** END CSS Reset ****************/

/**************** BEGIN Mobile Styles ****************/

:root {
  /* set font-size to base-10 from base-16 */
  font-size: 62.5%;

  /* Variables */
  --max-width__mobile: 640px;
  --max-width__mobile--content: 315px;
  --max-width__desktop--content: 1180px;

  --font-family__body: "Rubik", sans-serif;
  --font-weight__regular: 400;
  --font-weight__medium: 500;
  --font-size__body-copy: 1.8rem;

  --color__primary-1: hsl(231, 69%, 60%);
  --color__primary-2: hsl(0, 94%, 66%);
  --color__primary-3: rgb(255, 255, 255);

  --color__neutral-1: hsl(229, 8%, 60%);
  --color__neutral-2: hsl(229, 31%, 21%);
  --color__background: rgb(255, 255, 255);
  --color__mobile-nav__background: hsla(229, 31%, 21%, 0.93);
  --color__mobile-nav__primary: #fff;
}

.display--none {
  display: none;
}

a,
button {
  cursor: pointer;
}

body {
  max-width: 100vw;
  min-height: 100vh;
  font-family: var(--font-family__body);
  font-size: var(--font-size__body-copy);
  font-weight: var(--font-weight__regular);
  color: var(--color__neutral-1);
  background-color: var(--color__background);
  position: relative;
}

header {
  display: grid;
  grid-template-columns: 150px auto;
  max-width: min(100vw, var(--max-width__mobile--content));
  margin: 35px auto;
}

.header-logo {
  z-index: 3;
}

.header-nav__icon {
  z-index: 3;
  justify-self: right;
  align-self: center;
  cursor: pointer;
}

#header-nav {
  z-index: 2;
  position: absolute;
  top: -35px;
  left: 0;
  right: 0;
  bottom: 0;
  min-height: 100vh;
  padding-top: 105px;
  background-color: var(--color__mobile-nav__background);
}

.header-nav__website {
  width: min(315px, 96vw);
  margin-left: auto;
  margin-right: auto;
  font-size: 1.9rem;
  font-weight: var(--font-size__body-copy);
  color: var(--color__mobile-nav__primary);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.3ch;
}

.header-nav__website li {
  display: block;
  min-width: 100%;
  margin: 0;
  padding: 1em 0;
  border-top: 1px solid hsla(0, 0%, 100%, 0.3);
}

.header-nav__website li:last-of-type a {
  display: block;
  min-width: 100%;
  min-height: 100%;
  /* margin: 0; */
  margin-top: 0.5em;
  padding: 0.5em;
  border: 2px solid var(--color__mobile-nav__primary);
  border-radius: 0.25em;
}

.header-nav__website li:last-of-type a:hover {
  color: var(--color__mobile-nav__background);
  background-color: var(--color__mobile-nav__primary);
  border: 2px solid var(--color__mobile-nav__background);
  border-radius: 0.25em;
}

.header-nav__social {
  /* position: relative;
  bottom: 0;
  left: 0;
  right: 0; */
  display: flex;
  justify-content: center;
  align-items: flex-end;
  /* margin: 3em auto; */
}

.header-nav__social a svg {
  margin: 5em 1.1em 2em 1.1em;
}

/**************** END   Mobile  Styles ****************/

/**************** BEGIN Desktop Styles ****************/
@media screen and (min-width: 1300px) {
  header,
  footer {
    max-width: var(--max-width__desktop--content);
    min-width: min(var(--max-width__desktop--content), 100vw);
  }
  #header-nav {
    margin: 0 70px;
  }
}
@media screen and (min-width: 800px) {
  header,
  footer {
    max-width: min(var(--max-width__desktop--content), 90vw);
  }
  header {
    margin: 45px auto;
    align-items: center;
  }
  .header-logo {
    margin-left: 1em;
  }
  .header-nav__icon {
    display: none;
  }

  #header-nav {
    width: unset;
    min-width: unset;
    max-width: unset;
    display: inline-block;
    position: unset;
    min-height: unset;
    padding-top: unset;
    background-color: unset;
  }

  .header-nav__website {
    width: max-content;
    margin: 0 0 0 auto;
    display: grid;
    grid-template-columns: repeat(3, auto) 1fr;
    align-items: center;
    font-size: 1.3rem;
    color: var(--color__neutral-2);
    letter-spacing: 0.2ch;
  }
  .header-nav__website li {
    margin: 0;
    padding: 0 1.5em;
    text-align: left;
  }
  .header-nav__website li:last-of-type {
    margin: 0;
    padding: 0 0 0 2em;
  }
  .header-nav__website li:last-of-type a {
    margin: 0;
    padding: 0.8em 2.5em;
    color: var(--color__primary-3);
    background-color: var(--color__primary-2);
    border: none;
    border-radius: 0.3em;
  }
  .header-nav__website li:last-of-type a:hover {
    color: var(--color__primary-3);
    background-color: var(--color__primary-1);
    border: none;
  }

  .header-nav__social {
    display: none;
  }
}
/**************** END Desktop Styles ****************/
