/**************** FONTS ****************/
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");

/**************** BEGIN CSS Reset ****************/
*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
  all: unset;
  display: revert;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
ol,
ul {
  list-style: none;
}
img {
  max-width: 100%;
}
table {
  border-collapse: collapse;
}
textarea {
  white-space: revert;
}
/**************** END CSS Reset ****************/

/**************** BEGIN Mobile Styles ****************/

:root {
  /* Variables */
  --max-width__mobile: 640px;
  --max-width__desktop: 1440px;
  --max-width__mobile--content: 315px;
  --max-width__desktop--content: 1180px;

  --font-family__body: "Rubik", sans-serif;
  --font-weight__regular: 400;
  --font-weight__medium: 500;
  --font-size__body-copy: 1.8rem;

  --color__primary-1: hsl(231, 69%, 60%);
  --color__primary-2: hsl(0, 94%, 66%);
  --color__primary-3: hsl(0, 0%, 100%);

  --color__neutral-1: hsl(229, 8%, 60%);
  --color__neutral-2: hsl(229, 31%, 21%);
  --color__neutral-3: hsl(229, 8%, 85%);
  --color__neutral-4: hsl(0, 0%, 96%);
  --color__neutral-5: hsl(240, 9%, 32%);

  --color__background: rgb(255, 255, 255);
  --color__mobile-nav__background: hsla(229, 31%, 21%, 0.93);
  --color__mobile-nav__primary: #fff;
  --color__box-shadow--primary-1: hsla(231, 69%, 60%, 0.2);
  /* set font-size to base-10 from base-16 */
  font-size: 62.5%;
}

.display--none {
  display: none;
}

a,
button {
  cursor: pointer;
}

body {
  position: relative;
  background-color: var(--color__background);
  width: 100vw;
  max-width: 100%;
  min-height: 100%;
  color: var(--color__neutral-1);
  font-weight: var(--font-weight__regular);
  font-size: var(--font-size__body-copy);
  font-family: var(--font-family__body);
}

header {
  display: grid;
  grid-template-columns: 150px auto;
  margin: 35px auto;
  width: 90vw;
}

.btn {
  display: block;
  transition: 300ms;
  box-shadow: 5px 5px 10px var(--color__box-shadow--primary-1);
  border: 2px solid var(--color__primary-1);
  border-radius: 0.3em;
  background-color: var(--color__primary-1);
  padding: 1em 2em;
  color: var(--color__primary-3);
  font-size: 1.4rem;
}
.btn:hover {
  transition: 300ms;
  border: 2px solid var(--color__primary-2);
  background-color: var(--color__primary-3);
  color: var(--color__primary-2);
}

.header-logo {
  z-index: 3;
}

.header-nav__icon {
  align-self: center;
  justify-self: right;
  z-index: 3;
  cursor: pointer;
}

#header-nav {
  position: absolute;
  top: -35px;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  background-color: var(--color__mobile-nav__background);
  padding-top: 105px;
  min-height: 100vh;
}
.header-nav__website {
  margin-right: auto;
  margin-left: auto;
  width: min(315px, 96vw);
  color: var(--color__mobile-nav__primary);
  font-weight: var(--font-size__body-copy);
  font-size: 1.9rem;
  letter-spacing: 0.3ch;
  text-align: center;
  text-transform: uppercase;
}
.header-nav__website li {
  display: block;
  margin: 0;
  border-top: 1px solid hsla(0, 0%, 100%, 0.3);
  padding: 1em 0;
  min-width: 100%;
}
.header-nav__website a:hover {
  transition: 300ms;
  color: var(--color__primary-2);
}
.header-nav__website li:last-of-type a {
  display: block;
  margin-top: 0.5em;
  border: 2px solid var(--color__mobile-nav__primary);
  border-radius: 0.25em;
  padding: 0.5em;
  min-width: 100%;
  min-height: 100%;
}
.header-nav__website li:last-of-type a:hover {
  border: 2px solid var(--color__mobile-nav__background);
  border-radius: 0.25em;
  background-color: var(--color__mobile-nav__primary);
  color: var(--color__mobile-nav__background);
}
.header-nav__social {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.header-nav__social a svg {
  margin: 5em 1.1em 2em 1.1em;
}

/* HEADLINE */
.headline {
  margin-top: 4em;
  width: 100vw;
}
.headline-graphic {
  position: relative;
  width: 100%;
  text-align: center;
}
.headline-graphic img {
  width: 95%;
}
.headline-graphic::after {
  display: block;
  position: absolute;
  top: 20%;
  right: 0;
  bottom: 0;
  z-index: -1;
  border-radius: 0 0 0 25vw;
  background-color: var(--color__primary-1);
  width: 80vw;
  content: "";
}

.headline-content {
  margin: 0 auto 8em auto;
  text-align: center;
}
.headline-content h1 {
  margin: 1.5em 2em 1em 2em;
  color: var(--color__neutral-2);
  font-weight: var(--font-weight__medium);
  font-size: 2.8rem;
}
.headline-content p {
  margin: 0 3em 2em 3em;
  font-size: 1.5rem;
  line-height: 1.8;
}

.headline-content__links {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: center;
  gap: 1em;
  margin: 0 auto;
  width: max-content;
}
#headline-btn__chrome {
  padding: 0.8em;
}
#headline-btn__chrome:hover {
  border-color: var(--color__primary-1);
  padding: 0.8em;
  color: var(--color__primary-1);
}
#headline-btn__firefox {
  border-color: var(--color__neutral-4);
  background-color: var(--color__neutral-4);
  padding: 0.8em;
  color: var(--color__neutral-5);
  font-weight: var(--font-weight__medium);
}
#headline-btn__firefox:hover {
  border-color: var(--color__neutral-5);
  padding: 0.8em;
}

/* FEATURES */
.features-section {
  margin-bottom: 8em;
}
.features-headline {
  margin: 0 auto;
  max-width: min(540px, 90vw);
  text-align: center;
}
.features-headline h2 {
  color: var(--color__neutral-2);
  font-weight: var(--font-weight__medium);
  font-size: 2.2rem;
}
.features-headline p {
  margin: 1em auto;
  max-width: 32ch;
  font-weight: var(--font-weight__regular);
  font-size: 1.5rem;
  line-height: 1.8;
}
.features-nav {
  margin: 0 auto;
  border-top: 1px solid var(--color__neutral-3);
  width: min(540px, 85vw);
}
.features-nav li {
  border-bottom: 1px solid var(--color__neutral-3);
  color: var(--color__neutral-1);
  font-size: 1.6rem;
  text-align: center;
}
.features-nav a {
  display: block;
  margin: 0 auto;
  padding: 1em;
  width: max-content;
  min-height: 100%;
}
.features-nav a:hover {
  color: var(--color__neutral-2);
}
.features-nav__item-link--active {
  border-bottom: 4px solid var(--color__primary-2);
  color: var(--color__neutral-2);
}
.feature-graphic {
  position: relative;
  margin-top: 4em;
  padding-bottom: 2em;
  width: 100%;
  text-align: center;
}
.feature-graphic img {
  margin: 0 auto;
  width: 85%;
}
.feature-graphic::after {
  display: block;
  position: absolute;
  top: 20%;
  bottom: 0;
  left: 0;
  z-index: -1;
  border-radius: 0 0 25vw 0;
  background-color: var(--color__primary-1);
  width: 80vw;
  content: "";
}
.feature-content {
  text-align: center;
}
.feature-content h3 {
  padding-top: 2em;
  color: var(--color__neutral-2);
  font-weight: var(--font-weight__medium);
  font-size: 2.4rem;
}
.feature-content p {
  margin: 0 auto;
  padding: 1em 0;
  max-width: 33ch;
  font-size: 1.5rem;
  line-height: 1.6;
}
.feature-content a {
  display: none;
  width: max-content;
}

/* DOWNLOADS */
.downloads-section {
  margin: 0 auto;
  max-width: min(var(--max-width__desktop--content), 80vw);
  text-align: center;
}
.downloads-section__header {
  grid-area: downloads-section__header;
  color: var(--color__neutral-2);
  font-weight: var(--font-weight__medium);
  font-size: 2.4rem;
}
.downloads-section__details {
  grid-area: downloads-section__details;
  margin: 1em auto;
  padding-bottom: 2em;
  max-width: 50ch;
  font-weight: var(--font-weight-regular);
  font-size: 1.5rem;
  line-height: 1.6;
}
#download-card__chrome {
  grid-area: download-card__chrome;
}
#download-card__firefox {
  grid-area: download-card__firefox;
}
#download-card__opera {
  grid-area: download-card__opera;
}
.download-card {
  margin: 1em auto;
  box-shadow: 5px 5px 20px var(--color__box-shadow--primary-1);
  border-radius: 0.8em;
  padding: 1em 0;
  max-width: min(280px, 90vw);
}
.download-card img {
  margin: 1em;
}
.download-card h3 {
  margin: 0.5em;
  color: var(--color__neutral-2);
  font-weight: var(--font-weight__medium);
  font-size: 2rem;
}
.download-card p {
  color: var(--color__neutral-1);
  font-weight: var(--font-weight-regular);
  font-size: 1.5rem;
}
.download-card p::after {
  display: block;
  background-image: url(../images/bg-dots.svg);
  background-position: bottom;
  background-repeat: repeat-x;
  width: 100%;
  height: 30px;
  content: "";
}
.download-card a {
  margin: 2em 2em 0.8em 2em;
}
.download-card .btn:hover {
  transition: 300ms;
  border: 2px solid var(--color__primary-1);
  background-color: var(--color__primary-3);
  color: var(--color__primary-1);
}

.faqs-section {
  margin: 5em auto 5em auto;
  max-width: min(var(--max-width__desktop--content), 80vw);
  text-align: center;
}

.faqs-section__header {
  margin: 0 auto;
  max-width: 16ch;
  color: var(--color__neutral-2);
  font-weight: var(--font-weight__medium);
  font-size: 2.4rem;
}
.faqs-section__details {
  margin: 1.5em 0 3.5em 0;
  color: var(--color__neutral-1);
  font-size: 1.5rem;
  line-height: 1.7;
}

.faqs {
  margin: 0 auto;
  max-width: min(540px, 90vw);
  font-weight: var(--font-weight-regular);
  line-height: 1.5;
  text-align: left;
}
.faq {
  margin: 1em auto;
  border-bottom: 1px solid var(--color__neutral-3);
  padding: 0.5em 0;
}
.faq-question {
  display: grid;
  grid-template-columns: auto 15px;
  gap: 0 0.5em;
  margin-top: 0.1em;
  margin-bottom: 0.5em;
  color: var(--color__neutral-2);
  font-size: 1.5rem;
}
.faq-question:hover {
  cursor: pointer;
  color: var(--color__primary-2);
}
.faq-question p {
  align-self: start;
  justify-self: start;
  width: 100%;
  color: var(--color-secondary-text);
}
.faq-active p {
  font-weight: var(--font-weight-bold);
}
.faq-question svg {
  stroke: var(--color__primary-1);
  align-self: start;
  justify-self: end;
  transition: 0.4s;
}
.faq-active svg {
  stroke: var(--color__primary-2);
  transform: rotate(180deg);
}
.faq-answer {
  display: none;
  transition: max-height 0.2s ease-out;
  margin-right: 15px;
  max-width: 100%;
  max-height: 0;
}
.faq-answer p {
  padding: 1.5em 0;
  color: var(--color__neutral-1);
  font-size: 1.5rem;
  line-height: 2;
}
.faq-show-answer {
  display: contents;
}

.faqs-section .btn {
  margin: 4em auto 8em auto;
  width: max-content;
}

.subscribe {
  background-color: var(--color__primary-1);
  padding-top: 4em;
  padding-bottom: 4em;
  color: var(--color__primary-3);
  text-align: center;
}
.subscribe h2 {
  margin-bottom: 1.5em;
  font-size: 1.2rem;
  letter-spacing: 0.5em;
  text-transform: uppercase;
}
.subscribe p {
  margin: 0 auto 1.5em auto;
  max-width: 22ch;
  font-size: 2.4rem;
}
.subscribe input {
  border: 2px solid var(--color__primary-3);
  border-radius: 0.3em;
  background-color: var(--color__primary-3);
  padding-left: 1em;
  width: 100%;
  height: 3em;
  font-size: 1.6rem;
  text-align: left;
}
.subscribe button {
  margin-top: 1em;
  border: 2px solid var(--color__primary-2);
  border-radius: 0.3em;
  background-color: var(--color__primary-2);
  width: 100%;
  height: 3em;
  font-size: 1.6rem;
}
.subscribe button:hover {
  transition: 300ms;
  border: 2px solid var(--color__primary-2);
  border-radius: 0.3em;
  background-color: var(--color__primary-3);
  color: var(--color__primary-2);
}
#subscribe-form {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 auto;
  max-width: min(85vw, 325px);
}
#email-input__container {
  display: grid;
  position: relative;
  grid-template-columns: 1fr;
  border: 2px solid var(--color__primary-3);
  border-radius: 0.3em;
  background-color: var(--color__primary-3);
  min-width: max-content;
}
#email-input__container em {
  padding: 0.5em 1em;
}
#email {
  border: 2px solid white;
  border-radius: 0.3em;
  padding: 1.5em;
  color: var(--color__neutral-2);
  font-size: 1.4rem;
}
#email::placeholder {
  color: silver;
}
#error-icon__email {
  display: none;
  position: absolute;
  top: 0.75em;
  right: 1em;
}
#error-message__email {
  display: none;
  color: var(--color__primary-3);
  font-style: italic;
  font-size: 1.1rem;
  text-align: left;
}

/* email error styles */
.email-input__container--error {
  border: 2px solid hsl(0, 94%, 66%) !important;
  background-color: hsl(0, 94%, 66%) !important;
}
.error-icon__email {
  display: block !important;
}
.error-message__email {
  display: block !important;
}

footer {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  background-color: var(--color__neutral-2);
  padding-top: 40px;
  padding-bottom: 40px;
}
.footer-nav__website li {
  margin: 2em auto;
  color: var(--color__primary-3);
  font-size: 1.6rem;
  letter-spacing: 0.1em;
  text-align: center;
  text-transform: uppercase;
}
.footer-nav__social svg {
  fill: var(--color__primary-3);
}
.footer-nav__website li a:hover {
  transition: 300ms;
  color: var(--color__primary-2);
}
.footer-nav__social {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  gap: 2em;
  margin: 0 auto;
  width: max-content;
}
.footer-nav__social svg:hover {
  fill: var(--color__primary-2);
}

/**************** END   Mobile  Styles ****************/

/**************** BEGIN Desktop Styles ****************/
@media screen and (min-width: 800px) {
  header {
    align-items: center;
    margin: 45px auto;
    max-width: min(var(--max-width__desktop--content), 90vw);
  }
  .header-logo {
    margin-left: 1em;
  }
  #header-logo--white {
    display: none;
  }
  #header-logo--blue {
    display: block;
  }
  .header-nav__icon {
    display: none;
  }
  #header-nav {
    display: inline-block;
    position: unset;
    background-color: unset;
    padding-top: unset;
    width: unset;
    min-width: unset;
    max-width: unset;
    min-height: unset;
  }
  .header-nav__website {
    display: grid;
    grid-template-columns: repeat(3, auto) 1fr;
    align-items: center;
    margin: 0 0 0 auto;
    width: max-content;
    color: var(--color__neutral-2);
    font-size: 1.3rem;
    letter-spacing: 0.2ch;
  }
  .header-nav__website li {
    margin: 0;
    padding: 0 1.5em;
    text-align: left;
  }
  .header-nav__website li:last-of-type {
    margin: 0;
    padding: 0 0 0 2em;
  }
  .header-nav__website li:last-of-type a {
    margin: 0;
    box-shadow: 5px 5px 10px var(--color__box-shadow--primary-1);
    border: 2px solid var(--color__primary-2);
    border-radius: 0.3em;
    background-color: var(--color__primary-2);
    padding: 0.8em 2.5em;
    color: var(--color__primary-3);
  }
  .header-nav__website li:last-of-type a:hover {
    border: 2px solid var(--color__primary-2);
    background-color: var(--color__primary-3);
    color: var(--color__primary-2);
  }
  .header-nav__social {
    display: none;
  }

  /* HEADLINE */
  .headline {
    display: grid;
    position: relative;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "headline-content headline-graphic";
    margin: 0 auto 7em auto;
    padding-top: 3.5em;
    width: 100vw;
  }
  .headline-graphic {
    grid-area: headline-graphic;
    text-align: left;
  }
  .headline-graphic::after {
    width: 80%;
  }
  .headline-graphic img {
    width: min(95%, 640px);
  }
  .headline-content {
    grid-area: headline-content;
    align-items: center;
    margin: auto 0 auto auto;
    max-width: min(540px, 45vw);
    text-align: left;
  }
  .headline-content h1 {
    margin: 0;
    padding-bottom: 0.5em;
    max-width: 20ch;
    color: var(--color__neutral-2);
    font-weight: var(--font-weight__medium);
    font-size: 4.5rem;
    line-height: 1.3;
  }
  .headline-content p {
    margin: 0;
    padding-bottom: 0.8em;
    max-width: 45ch;
    font-size: 1.8rem;
    line-height: 1.8;
  }
  .headline-content__links {
    justify-self: start;
    margin: 1em auto auto 0;
  }
  /* FEATURES */
  .features-headline h2 {
    font-size: 3.2rem;
  }
  .features-headline p {
    padding-bottom: 2em;
    max-width: 50ch;
    font-size: 1.8rem;
  }
  .features-nav {
    margin: 0 auto;
    border-top: none;
    width: min(740px, 85vw);
  }
  .features-nav ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .features-nav a {
    width: 100%;
  }
  .feature {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 4em;
  }
  .feature-graphic {
    margin-top: 0;
    padding-bottom: 4em;
    text-align: right;
  }
  .feature-graphic img {
    margin: 0 auto;
    width: min(480px, 85%);
  }
  .feature-graphic::after {
    display: block;
    position: absolute;
    top: 20%;
    bottom: 0;
    left: 0;
    z-index: -1;
    border-radius: 0 0 25vw 0;
    background-color: var(--color__primary-1);
    width: 90%;
    content: "";
  }
  .feature-content {
    margin-left: 5em;
    text-align: left;
  }
  .feature-content h3 {
    font-size: 3.2rem;
  }
  .feature-content p {
    margin: 0 auto 0 0;
    padding: 1.5em 2em 1.5em 0;
    max-width: 38ch;
    font-size: 1.8rem;
  }
  .feature-content a {
    display: block;
  }

  /* DOWNLOADS */
  .downloads-section {
    display: grid;
    grid-template-columns: repeat(3, min(auto, max-content));
    grid-template-areas:
      "downloads-section__header downloads-section__header downloads-section__header"
      "downloads-section__details downloads-section__details downloads-section__details"
      "download-card__chrome download-card__firefox download-card__opera";
    gap: 1.8em;
    margin-bottom: 10em;
    width: max-content;
  }
  .downloads-section__header {
    margin: 0 auto;
    font-size: 3.2rem;
  }
  .downloads-section__details {
    margin: 0 auto;
    font-size: 1.8rem;
  }
  .download-card {
    justify-self: center;
    margin: 0;
    height: max-content;
  }
  #download-card__firefox {
    margin-top: 2em;
  }
  #download-card__opera {
    margin-top: 4em;
  }

  /* FAQs */
  .faqs-section {
    margin: 5em auto 8.5em auto;
    max-width: min(540px, 80vw);
    text-align: center;
  }

  .faqs-section__header {
    max-width: 100%;
    font-size: 3.2rem;
  }
  .faqs-section__details {
    font-size: 1.8rem;
  }
  .faq-question {
    font-size: 1.8rem;
  }
  .faq-answer p {
    padding: 1.5em 0;
    color: var(--color__neutral-1);
    font-size: 1.7rem;
    line-height: 2.1;
  }

  /* SUBSCRIBE */
  .subscribe h2 {
    margin-bottom: 3.5em;
  }
  .subscribe p {
    margin: 0 auto 1.1em auto;
    font-size: 3.6rem;
  }
  .subscribe button {
    margin: 2px;
    font-size: 1.6rem;
  }
  #subscribe-form {
    grid-template-columns: auto auto;
    gap: 1em;
    max-width: 450px;
  }

  footer {
    display: block;
    padding: 2em 0;
    width: 100%;
  }
  .footer-container {
    display: grid;
    grid-template-columns: 220px 1fr min-content;
    align-items: center;
    margin: 0 auto;
    max-width: min(var(--max-width__desktop--content), 90vw);
  }
  .footer-nav__website {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5em;
    margin: 0 auto 0 0;
  }
  .footer-nav__website li {
    margin: 0;
    font-size: 1.4rem;
  }
}
/**************** END Desktop Styles ****************/
